@charset "utf-8";
/* layout */
body { /*background-color:#242424;*/ }
#wrap { min-width:1000px; /*background:#232c3f;*/ }
#IB_Navi {  }
#IB_Gnb { float:none; *zoom:1; width:100%; background:#e6e6e6; border-bottom:#cfcfcf solid 1px; height:40px; box-sizing:border-box; overflow:hidden; }
#IB_Gnb:after { content:""; display:block; clear:both; height:0; }
#IB_Gnb .choice_resolution { float:left; padding-top:8px; height:32px; padding-left:30px; }
#IB_Gnb .choice_resolution a { float:left; border-right:#afafaf solid 1px; border-top:#afafaf solid 1px; border-bottom:#afafaf solid 1px; line-height:13px; padding:4px 7px 5px; background:#e6e6e6; font-family:Verdana, Geneva, sans-serif; font-size:10px; letter-spacing:-0.7px; display:inline-block; }
#IB_Gnb .choice_resolution a:first-child { border-left:#afafaf solid 1px; }

#IB_Gnb .right_gnb_zone { float:right; height:40px; margin-right:30px; }
#IB_Gnb .right_gnb_zone .All_Search { float:left; background:url(../images/common/bg_navi_search.gif) no-repeat left 8px; height:24px; padding:8px 0; }
.All_Search .Lnb_search { background:none; height:24px; padding:5px 5px 5px 10px; vertical-align:middle; width:180px; box-sizing:border-box; }
.All_Search .Lnb_search .btn_search { height:24px; line-height:24px; vertical-align:middle; width:30px; }
.All_Search .Lnb_search .btn_search img { line-height:24px; height:24px; vertical-align:middle; }

#IB_Gnb .right_gnb_zone .My_Alarm_Zone { float:left; height:40px; display:inline-block; position:relative; }
#IB_Gnb .right_gnb_zone .My_Alarm_Zone a { float:left; display:inline-block; }

.My_Alarm_Zone .ProPic { vertical-align:middle; line-height:32px; height:32px; display:inline-block; padding-top:4px; margin-left:20px; margin-right:6px;  }
.My_Alarm_Zone .ProPic img {  border-radius:30px; width:30px; height:30px; box-shadow:1px 1px 1px 1px #b8b8b8; }
.My_Alarm_Zone .ProPic .Profile_txt { color:#333; font-weight:bold; font-size:11px; font-family:"돋움"; letter-spacing:-0.5px; margin-left:4px; display:inline-block; }
.My_Alarm_Zone .ProPic .Profile_txt em { font-weight:normal; font-size:10px;  font-family:Verdana, Geneva, sans-serif; padding-left:3px; }

.My_Alarm_Zone #Profile_s_Box { position:absolute; right:0; top:31px; z-index:10002; }
.My_Alarm_Zone #favorite_list { position:absolute; right:-7px; top:31px; z-index:10002; }

.My_Alarm_Zone .btn_logout { background:url(../images/common/btn_logout.gif) no-repeat left center; width:47px; height:40px; vertical-align:middle; margin-right:18px; }

.My_Alarm_Zone .mail_Alarm { background:url(../images/common/btn_mail.gif) no-repeat left center; width:36px; height:40px; vertical-align:middle; position:relative; display:inline-block; }
.My_Alarm_Zone .work_Alarm { background:url(../images/common/btn_work.gif) no-repeat left center; width:36px; height:40px; vertical-align:middle; position:relative; display:inline-block; }
.My_Alarm_Zone .favorite { background:url(../images/common/btn_favorite.gif) no-repeat left center; width:27px; height:40px; vertical-align:middle; position:relative; display:inline-block; }
.My_Alarm_Zone .setmenu { background:url(../images/common/btn_favorite.gif) no-repeat left center; width:27px; height:40px; vertical-align:middle; position:relative; display:inline-block; }
.My_Alarm_Zone .count { background:#df4400; color:#fff; border-radius:12px; height:12px; line-height:12px; padding:1px 5px 2px; font-family:Verdana, Geneva, sans-serif; font-size:10px; vertical-align:middle; position:absolute; z-index:1; left:9px; top:5px; text-align:center; }

#IB_Gnb .right_gnb_zone .admin_MN_zone { float:left; padding-top:8px; height:32px; margin-left:14px; }
#IB_Gnb .right_gnb_zone .admin_MN_zone a { float:left; border-right:#afafaf solid 1px; border-top:#afafaf solid 1px; border-bottom:#afafaf solid 1px; line-height:13px; padding:4px 7px 5px; background:#e6e6e6; font-size:11px; letter-spacing:-0.7px; display:inline-block; }
#IB_Gnb .right_gnb_zone .admin_MN_zone a:first-child { border-left:#afafaf solid 1px; }

#IB_Gnb .right_gnb_zone .admin_MN_zone select { padding:4px; }


#IB_Lnb { float:none; *zoom:1; width:100%; background:#1b3964; height:76px; position:relative; font-family:"NanumGothic","돋움",Dotum,"굴림",Gulim,arial,sans-serif; }
#IB_Lnb:after { content:""; display:block; clear:both; height:0; }
#IB_Lnb .logoZone { background:url(../images/common/bg_logo_right.gif) no-repeat right 0 #3054a1; border-bottom:#26427f solid 1px; width:200px; height:75px; position:absolute; left:0px; top:0px; z-index:1; }
#IB_Lnb .logoZone .logo { margin-left:30px; }
#IB_Lnb .logoZone .logo a { vertical-align:middle; line-height:76px; display:inline-block; }
#IB_Lnb .logoZone .logo img { vertical-align:middle; line-height:76px; *margin-top:22px; }


/*#IB_Lnb .Lnb_MN_Zone { background:url(../images/common/menu/bg_lnb_mn.gif) repeat-x #1b3964; width:auto; padding-right:30px; box-sizing:border-box; overflow:hidden; }
#IB_Lnb .Lnb_MN_Zone li { float:left; background:url(../images/common/menu/bg_lnb_right.gif) no-repeat right 0; position:relative; }
#IB_Lnb .Lnb_MN_Zone li a { float:left; width:100%; box-sizing:border-box; display:block; color:#6f88ad; text-align:center; padding-top:55px; padding-bottom:18px; line-height:18px; vertical-align:middle; font-weight:bold; }
#IB_Lnb .Lnb_MN_Zone li:hover a { color:#fff; border-bottom:#3462c4 solid 4px; padding-bottom:14px; }
#IB_Lnb .Lnb_MN_Zone li a.current { color:#fff; border-bottom:#3462c4 solid 4px; padding-bottom:14px; }
*/
.menu_cout_n01 li { width:100%; }
.menu_cout_n02 li { width:50%; }
.menu_cout_n03 li { width:33.3%; }
.menu_cout_n04 li { width:25%; }
.menu_cout_n05 li { width:20%; }
.menu_cout_n06 li { width:16.66%; }
.menu_cout_n07 li { width:14.28%; }
.menu_cout_n08 li { width:12.5%; }
.menu_cout_n09 li { width:11.11%; }
.menu_cout_n10 li { width:10%; }
.menu_cout_n11 li { width:9.09%; }
.menu_cout_n12 li { width:8.33%; } /* 최대 */
.menu_cout_n13 li { width:7.69%; }
.menu_cout_n14 li { width:7.14%; }
.menu_cout_n15 li { width:6.66%; }
.menu_cout_n16 li { width:6.25%; }


/**** CSSMENU 20160506
#cssmenu { float:none; *zoom:1; width:100%; font-size:12px; padding-right:30px; padding-left:200px; box-sizing:border-box; background:url(../images/common/menu/bg_lnb_mn.gif) repeat-x #1b3964; }
#cssmenu:after, #cssmenu ul:after { content:""; display:block; clear:both; height:0; overflow:hidden; }

#cssmenu ul { position:relative; z-index:597; }
#cssmenu ul li { border-left:#10223c solid 1px; border-right:#324d74 solid 1px; float:left; vertical-align:middle; box-sizing:border-box; display:inline-block; height:76px; max-width:160px; }
#cssmenu ul li:last-child { background:url(../images/common/bg_lnb_right.jpg) repeat-y right 0; border-right:none; }
#cssmenu ul li a { text-align:center; vertical-align:middle; width:100%; height:76px; box-sizing:border-box; color:#8aa6d1; display:inline-block; }

#cssmenu ul li:hover { border-left:#10223c solid 1px; border-right:none; background:url(../images/common/bg_lnb_hover_left.jpg) no-repeat left bottom; position:relative; z-index:599; cursor:default; }
#cssmenu ul li:hover a { background:url(../images/common/bg_lnb_hover_right.jpg) no-repeat right bottom; color:#fff; font-weight:bold; }
#cssmenu ul li.active { border-left:#10223c solid 1px; border-right:none; background:url(../images/common/bg_lnb_hover_left.jpg) no-repeat left bottom; }
#cssmenu ul li.active a { background:url(../images/common/bg_lnb_hover_right.jpg) no-repeat right bottom; color:#fff; font-weight:bold; }

#cssmenu ul ul { display:none; position:absolute; width:100%; min-width:160px; top:100%; left:-1px; z-index:598; border:#152f57 solid 1px; background:#244470; padding:12px 0px 16px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; box-sizing:border-box; box-shadow:3px 3px 3px rgba(10, 21, 30, 0.2); }
#cssmenu ul li:hover > ul { display:block; }
#cssmenu ul li:hover > ul li { font-weight:normal; height:auto; float:none; width:100%; background:none; border-top:#2d558c solid 1px; border-bottom:#19304f solid 1px; border-left:none; border-right:none;  text-align:left; }
#cssmenu ul li:hover > ul li:first-child { border-top:none; }
#cssmenu ul li:hover > ul li:last-child { border-bottom:none; }
#cssmenu ul li:hover > ul a { font-weight:normal; height:auto; background:none; width:100%; padding:8px 15px; color:#8aa6d1; text-align:left; position:relative; }
#cssmenu ul li:hover > ul a:hover { color:#fff; }

#cssmenu ul ul ul { min-width:100%; margin-left:-8px; margin-top:2px; text-indent:0; top:0; left:100%;  border-radius:5px; padding-top:7px; }

#cssmenu ul li.has-sub > a:after { content:''; margin-left:5px; font-size:10px; }
#cssmenu ul ul li.has-sub > a:after { content:'+'; position:absolute; top:50%; right:15px; margin-top:-8px; opacity:0.8; }
#cssmenu ul ul li.has-sub:first-child > a:after { content:'+'; position:absolute; top:50%; right:15px; margin-top:-5px; color:#999; } ****/




/**** CSSMENU 전체스타일 ****/
#cssmenu { float:none; *zoom:1; width:100%; font-size:12px; padding-right:30px; padding-left:200px; box-sizing:border-box; background:url(../images/common/menu/bg_lnb_mn.gif) repeat-x #1b3964; }
#cssmenu:after, #cssmenu ul:after { content:""; display:block; clear:both; height:0; overflow:hidden; }

/* 01.Depth */
#cssmenu ul { position:relative; z-index:597; }
#cssmenu ul li { border-left:#10223c solid 1px; border-right:#324d74 solid 1px; float:left; vertical-align:middle; box-sizing:border-box; display:inline-block; height:76px; max-width:180px; /*max-width:165px;*/ }/*최대메뉴*/
#cssmenu ul li:last-child { background:url(../images/common/bg_lnb_right.jpg) repeat-y right 0; border-right:none; }
#cssmenu ul li a { text-align:center; vertical-align:middle; width:100%; height:76px; box-sizing:border-box; color:#8aa6d1; display:inline-block; }

#cssmenu ul li:hover { border-left:#10223c solid 1px; border-right:none; background:url(../images/common/bg_lnb_hover_left.jpg) no-repeat left bottom; position:relative; z-index:599; cursor:default; }
#cssmenu ul li:hover a { background:url(../images/common/bg_lnb_hover_right.jpg) no-repeat right bottom; color:#fff; font-weight:bold; }
#cssmenu ul li.active { border-left:#10223c solid 1px; border-right:none; background:url(../images/common/bg_lnb_hover_left.jpg) no-repeat left bottom; }
#cssmenu ul li.active a { background:url(../images/common/bg_lnb_hover_right.jpg) no-repeat right bottom; color:#fff; font-weight:bold; }

/* 02.Depth */
#cssmenu ul ul { display:none; position:absolute; width:100%; /*min-width:200px;*/ /*min-width:165px;*/ top:100%; left:-1px; z-index:598; border-bottom-left-radius:5px; border-bottom-right-radius:5px; box-shadow:3px 3px 3px rgba(10, 21, 30, 0.2); border:#152f57 solid 1px; background:#244470; padding:5px 0 5px; }/*최소서브메뉴*/
#cssmenu ul li:hover > ul { display:block;  }
#cssmenu ul li:hover > ul li { font-weight:normal; height:auto; float:none; width:100%; background:none;  border-left:none; border-right:none;  text-align:left; border-top:#2d558c solid 1px; border-bottom:#19304f solid 1px; padding:0px 5px 5px;  }
#cssmenu ul li:hover > ul li:first-child { border-top:none; }
#cssmenu ul li:hover > ul li:last-child { border-bottom:none; }
#cssmenu ul li:hover > ul a { font-weight:normal; height:auto; background:none; width:100%; padding:3px 10px; color:#8aa6d1; text-align:left; }
#cssmenu ul li:hover > ul a:hover { color:#fff; }

#cssmenu ul li:hover ul li a { text-align:center; color:#678cdb; }
#cssmenu ul li:hover ul li a .mn_num { display:none; }
#cssmenu ul li:hover ul li a:hover { color:#678cdb; cursor:default; }
#cssmenu ul li:hover ul li ul li { border:none;  padding:0px;   }
#cssmenu ul li:hover ul li ul li:hover { background:url(../images/common/menu/bg_submn_over.png) no-repeat 0 center; }
#cssmenu ul li:hover ul li ul li a { color:#fff; text-align:left; vertical-align:middle; }
#cssmenu ul li:hover ul li ul li a .mn_num { display:inline-block; }
#cssmenu ul li:hover ul li ul li a:hover { background:url(../images/common/menu/bg_submn_over2.png) no-repeat right center; cursor:pointer; color:#FFF;  }
#cssmenu ul li:hover ul li ul li a span { letter-spacing:-0.05em; font-family:'NanumBarun';}

/* 03.Depth */
#cssmenu ul ul ul { display:block; position:relative; min-width:100%; border:none; border-radius:0px; box-shadow:none; padding:3px 0px 0px; }


/* 추가 */
#cssmenu .mn_num { padding-right:10px; font-size:11px; color:#d1d1d1; }

.mn_icon01 { background:url(../images/common/menu/bg_mn_icon01.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon02 { background:url(../images/common/menu/bg_mn_icon02.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon03 { background:url(../images/common/menu/bg_mn_icon03.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon04 { background:url(../images/common/menu/bg_mn_icon04.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon05 { background:url(../images/common/menu/bg_mn_icon05.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon06 { background:url(../images/common/menu/bg_mn_icon06.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon07 { background:url(../images/common/menu/bg_mn_icon07.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon08 { background:url(../images/common/menu/bg_mn_icon08.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon09 { background:url(../images/common/menu/bg_mn_icon09.png) no-repeat center 13px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon10 { background:url(../images/common/menu/bg_mn_icon10.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon11 { background:url(../images/common/menu/bg_mn_icon11.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }
.mn_icon12 { background:url(../images/common/menu/bg_mn_icon12.png) no-repeat center 12px; width:100%; box-sizing:border-box; display:inline-block; height:76px; padding-top:44px; line-height:16px; }

.mn_icon01:hover { background:url(../images/common/menu/bg_mn_icon01_on.png) no-repeat center 12px; }
.mn_icon02:hover { background:url(../images/common/menu/bg_mn_icon02_on.png) no-repeat center 12px; }
.mn_icon03:hover { background:url(../images/common/menu/bg_mn_icon03_on.png) no-repeat center 12px; }
.mn_icon04:hover { background:url(../images/common/menu/bg_mn_icon04_on.png) no-repeat center 12px; }
.mn_icon05:hover { background:url(../images/common/menu/bg_mn_icon05_on.png) no-repeat center 12px; }
.mn_icon06:hover { background:url(../images/common/menu/bg_mn_icon06_on.png) no-repeat center 12px; }
.mn_icon07:hover { background:url(../images/common/menu/bg_mn_icon07_on.png) no-repeat center 12px; }
.mn_icon08:hover { background:url(../images/common/menu/bg_mn_icon08_on.png) no-repeat center 12px; }
.mn_icon09:hover { background:url(../images/common/menu/bg_mn_icon09_on.png) no-repeat center 13px; }
.mn_icon10:hover { background:url(../images/common/menu/bg_mn_icon10_on.png) no-repeat center 12px; }
.mn_icon11:hover { background:url(../images/common/menu/bg_mn_icon11_on.png) no-repeat center 12px; }
.mn_icon12:hover { background:url(../images/common/menu/bg_mn_icon12_on.png) no-repeat center 12px; }


#cssmenu ul li.active .mn_icon01 { background:url(../images/common/menu/bg_mn_icon01_on.png) no-repeat center 12px; } /*업무일지*/
#cssmenu ul li.active .mn_icon02 { background:url(../images/common/menu/bg_mn_icon02_on.png) no-repeat center 12px; } /*딜*/
#cssmenu ul li.active .mn_icon03 { background:url(../images/common/menu/bg_mn_icon03_on.png) no-repeat center 12px; } /*영업관리*/
#cssmenu ul li.active .mn_icon04 { background:url(../images/common/menu/bg_mn_icon04_on.png) no-repeat center 12px; } /*정보관리*/
#cssmenu ul li.active .mn_icon05 { background:url(../images/common/menu/bg_mn_icon05_on.png) no-repeat center 12px; } /*네트워크*/
#cssmenu ul li.active .mn_icon06 { background:url(../images/common/menu/bg_mn_icon06_on.png) no-repeat center 12px; } /*업무지원*/
#cssmenu ul li.active .mn_icon07 { background:url(../images/common/menu/bg_mn_icon07_on.png) no-repeat center 12px; } /*게시판*/
#cssmenu ul li.active .mn_icon08 { background:url(../images/common/menu/bg_mn_icon08_on.png) no-repeat center 12px; } /*전자결재*/
#cssmenu ul li.active .mn_icon09 { background:url(../images/common/menu/bg_mn_icon09_on.png) no-repeat center 13px; } /*자산관리*/
#cssmenu ul li.active .mn_icon10 { background:url(../images/common/menu/bg_mn_icon10_on.png) no-repeat center 12px; } /*경영지원*/
#cssmenu ul li.active .mn_icon11 { background:url(../images/common/menu/bg_mn_icon11_on.png) no-repeat center 12px; } /*프로젝트*/
#cssmenu ul li.active .mn_icon12 { background:url(../images/common/menu/bg_mn_icon12_on.png) no-repeat center 12px; } /*시스템관리*/


/* 일반 레프트메뉴 */
#container { float:none; *zoom:1; width:100%; background:#fff; }
#container:after { content:""; display:block; clear:both; height:0; }

#container #IB_Snb { width:140px; float:left; padding:0 30px; background:url(../images/common/bg_snb_left.png) repeat-x 0 0; }
#container #IB_Snb .Snb_title { color:#274980; font-size:24px; font-family:'NanumBarunL'; letter-spacing:-0.08em; font-weight:bold; margin-top:28px; margin-bottom:15px; border-bottom:#2c5597 solid 3px; padding-bottom:22px; }
#container #IB_Snb .Snb_List li a { line-height:20px; vertical-align:middle; background:url(../images/common/menu/bu_snb_off.gif) no-repeat left center; color:#737373; font-family:"돋움"; padding:6px 0px 6px 13px; display:block; }
#container #IB_Snb .Snb_List li a:hover { background:url(../images/common/menu/bu_snb_on.gif) no-repeat left center; color:#274980; font-weight:bold; }
#container #IB_Snb .Snb_List li.current a { background:url(../images/common/menu/bu_snb_on.gif) no-repeat left center; color:#274980; font-weight:bold; }
#container #IB_Snb .Snb_List li.current .Snb_de_List { display:block; }
#container #IB_Snb .Snb_List li.open_mn a { background:url(../images/common/menu/bu_snb_mn_open.gif) no-repeat left center; font-weight:normal; padding:6px 0px 6px 16px; }
#container #IB_Snb .Snb_List li.close_mn a { background:url(../images/common/menu/bu_snb_mn_close.gif) no-repeat left center; font-weight:normal; padding:6px 0px 6px 16px; }
#container #IB_Snb .Snb_List li.current_single a {  background:url(../images/common/menu/bu_snb_on.gif) no-repeat left center; color:#274980; font-weight:bold; }

#container #IB_Snb .Snb_List .Snb_de_List { background:#f4f4f4; border-top:#a9b1bf dashed 1px; border-bottom:#a9b1bf dashed 1px; padding:5px 0px 5px 13px; margin-top:6px; margin-bottom:15px; /*display:none;*/  } /*메뉴*/
#container #IB_Snb .Snb_List .Snb_de_List li a { background:url(../images/common/menu/bu_snb_de_off.gif) no-repeat left center; color:#797979; line-height:18px; padding:2px 0px 2px 10px; display:block; font-weight:normal; }
#container #IB_Snb .Snb_List .Snb_de_List li a:hover { background:url(../images/common/menu/bu_snb_de_on.gif) no-repeat left center; color:#517dc6; text-decoration:underline; font-weight:normal; }
#container #IB_Snb .Snb_List .Snb_de_List li a.current { background:url(../images/common/menu/bu_snb_de_on.gif) no-repeat left center; color:#517dc6;  text-decoration:underline; font-weight:normal; }


/* 관리자 레프트메뉴 */
#ADM_container { float:none; *zoom:1; width:100%; background:#232c3f; }
#ADM_container:after { content:""; display:block; clear:both; height:0; }

#ADM_container #IB_Snb { width:200px; float:left; }
#ADM_container #IB_Snb .Snb_title { padding-left:12%; color:#5893ff; font-size:24px; font-family:'NanumBarunL'; letter-spacing:-0.08em; font-weight:bold; margin-top:29px; margin-bottom:16px; padding-bottom:8px;  }
#ADM_container #IB_Snb .Snb_List li a { line-height:20px; vertical-align:middle; border-bottom:#1f2839 solid 1px; color:#89a5e0; font-family:"돋움"; padding:10px 0px 10px 12%; display:block; box-sizing:border-box; }
#ADM_container #IB_Snb .Snb_List li:first-child a { border-top:#1f2839 solid 1px; }
#ADM_container #IB_Snb .Snb_List li.current { background:#3054a1; }
#ADM_container #IB_Snb .Snb_List li.current a { background:url(../images/common/menu/bg_bu_admin_mn_current.gif) no-repeat 90% center; color:#fff; font-weight:bold; }
#ADM_container #IB_Snb .Snb_List li.current .Snb_de_List { display:block; }

#ADM_container #IB_Snb .Snb_List li.current_single { background:#3054a1; }
#ADM_container #IB_Snb .Snb_List li.current_single a { background:url(../images/common/menu/bg_bu_admin_mn_current_single.gif) no-repeat 90% center; color:#fff; font-weight:bold; }
#ADM_container #IB_Snb .Snb_List li.current_single .Snb_de_List { display:block; }

#ADM_container #IB_Snb .Snb_List li.open_mn a { background:url(../images/common/menu/bg_bu_admin_mn_open.gif) no-repeat 90% center; font-weight:normal; }
#ADM_container #IB_Snb .Snb_List li.close_mn a { background:url(../images/common/menu/bg_bu_admin_mn_close.gif) no-repeat 90% center; font-weight:normal; }


#ADM_container #IB_Snb .Snb_List .Snb_de_List { background:#202631; border-top:#1d222c solid 1px; border-bottom:#1d222c solid 1px; padding:12px 0px 12px 12%; /*display:none;*/ } /*메뉴*/
#ADM_container #IB_Snb .Snb_List .Snb_de_List li { background:none; }
#ADM_container #IB_Snb .Snb_List .Snb_de_List li a { background:url(../images/common/menu/bg_bu_admin_mn_off.gif) no-repeat left center; color:#6177a5; line-height:18px; padding:6px 0px 6px 10px; display:block; font-weight:normal; border:none; }
#ADM_container #IB_Snb .Snb_List .Snb_de_List li a:hover { background:url(../images/common/menu/bg_bu_admin_mn_on.gif) no-repeat left center; color:#92ade8; font-weight:normal; }
#ADM_container #IB_Snb .Snb_List .Snb_de_List li a.current { background:url(../images/common/menu/bg_bu_admin_mn_on.gif) no-repeat left center; color:#92ade8; font-weight:normal; }


#contentsWrap { width:auto; overflow:hidden; background:url(../images/common/bg_snb.png) 0 0 repeat-y; box-sizing:border-box; position:relative; }
.contents { float:none; *zoom:1; background:url(../images/common/bg_htitlebar.png) repeat-x;  }
.contents:after { content:""; display:block; clear:both; height:0; }

.con_titleZone { float:none; *zoom:1; height:24px; background:url(../images/common/bg_htitlebar_start.png) no-repeat 0 0; padding:24px 30px 22px; }
.con_titleZone:after { content:""; display:block; clear:both; height:0; }
.con_titleZone .h2_title { float:left; color:#252525; font-size:20px; line-height:24px; height:24px; font-family:'NanumBarunL'; font-weight:bold; letter-spacing:-0.03em; }
.con_titleZone .location { float:right; background:url(../images/common/icon_location.gif) no-repeat left 9px; padding-left:20px; height:20px; padding-top:4px; color:#9ea3aa; }
.con_titleZone .divide { background:url(../images/common/bg_divide_loca.gif) no-repeat left center; padding:0 8px 0 10px; width:6px; height:20px; line-height:20px; vertical-align:middle; }
.con_titleZone .btn_PagePrint { margin-left:10px; }

#IB_footer { border-top:#dadada solid 1px; padding-top:20px; padding-bottom:30px; color:#a5a5a5; font-family:Verdana, Geneva, sans-serif; font-size:11px; text-align:center; }


/* 레프트 메뉴btn */
.btn_leftmn_op { position:absolute; left:-1px; top:170px;  z-index:2; display:none; }
.btn_leftmn_op a { background:url(../images/common/btn_snb_open.png) no-repeat; width:25px; height:27px; display:inline-block; }
.btn_leftmn_cl { position:absolute; left:177px; top:170px; z-index:2; }
.btn_leftmn_cl a { background:url(../images/common/btn_snb_close.png) no-repeat; width:25px; height:27px; display:inline-block; }
.btn_leftmn_op a em, .btn_leftmn_cl a em { display:none; }

/*마이퀵메뉴*/
.quickmnWrap { background:url(../images/common/bg_favor_mn.gif) repeat-x 0 bottom #e7e9e8; border-bottom:#b8b8bb solid 1px; }
.quickmnWrap:after { content:""; display:block; clear:both; height:0;}

/*숏코드*/
.shortcodeBox { float:left; width:141px; padding:6px 30px; background:url(../images/common/bg_div_quickmn.gif) repeat-y right 0; }
.shortcodeBox input { border:#afafaf solid 1px; height:22px; padding:2px 0px 2px 4px; width:100px; box-sizing:border-box; }
.shortcodeBox button { border-right:#afafaf solid 1px; border-top:#afafaf solid 1px; border-bottom:#afafaf solid 1px; height:22px; padding:0px 5px; line-height:1; font-size:11px; color:#666; background:url(../images/common/bg_btn_quickmn.gif) repeat-x #e6e8e7; width:40px; }

.myquickmenu { width:auto; overflow:hidden; }
.myquickmenu:after { content:""; display:block; clear:both; height:0;}
.quickmn_list { float:none; *zoom:1; }
.quickmn_list:after { content:""; display:block; clear:both; height:0 ;}
.quickmn_list li { line-height:1.4; float:left; margin-top:6px; }
.quickmn_list li a { float:left; padding:2px 8px; background:url(../images/common/bg_btn_quickmn.gif) repeat-x #e6e8e7; border:#bababa solid 1px; display:inline-block; margin-left:8px; border-radius:2px; }
.quickmn_list li:first-child a { margin-left:30px; }
.quickmn_list li:hover a { border:#b7b7b7 solid 1px; background:url(../images/common/bg_btn_quickmn_on.gif) repeat-x #dadada; color:#242424; }

.deatailconWrap { float:none; *zoom:1; background:url(../images/common/bg_detailcon.png) repeat-x 0 0; }
.deatailconWrap:after { content:""; display:block; clear:both; height:0; }

.deatailconWrap .addAreaZone { float:left; width:160px; padding:15px 20px 20px 15px; }
.deatailconWrap #detail_contents { border-left:#dadada solid 1px; }

#detail_contents { min-height:680px; padding:30px 30px 60px; box-sizing:border-box; width:auto; overflow:hidden; }

/*메인*/
#M_wrap { min-width:1000px; }
#M_wrap #container { float:none; *zoom:1; width:100%; background:#142a3c; }
#M_wrap #container:after { content:""; display:block; clear:both; height:0; }


#M_wrap #contentsWrap { background:url(../images/common/bg_snb.png) repeat-y 0 0 #eee; }
#M_wrap #contentsWrap .contents { background:none; }
#M_wrap #IB_Snb { padding:0; width:200px; background:none; }
#IB_Snb .main_profile_box { padding:27px 6px 24px 0; position:relative; background:#1b3448; }
#IB_Snb .main_profile_box .pro_pic { text-align:center;  }
#IB_Snb .main_profile_box .pro_pic img {  border-radius:80px; width:80px; height:80px; }
#IB_Snb .main_profile_box .p_name { text-align:center; color:#fff; margin-top:9px; font-size:11px; }
#IB_Snb .main_profile_box .p_name strong { font-weight:bold; }
#IB_Snb .main_profile_box .p_name span { margin-left:4px; letter-spacing:-0.05em; }
#IB_Snb .main_profile_box .t_name { text-align:center; color:#6f95cc; margin-top:3px; }
#IB_Snb .main_profile_box .t_name span { letter-spacing:-0.05em; }
#IB_Snb .main_profile_box .t_name em { letter-spacing:-0.05em; }
#IB_Snb .btn_mpro_opt { position:absolute; left:115px; top:86px; width:22px; height:22px; background:url(../images/main/btn_profile_option.png) no-repeat 0 0; }
#IB_Snb .btn_mpro_opt em { display:none; }

#M_wrap .btn_leftmn_op a { background:url(../images/main/btn_snb_open.png) no-repeat left center; font-weight:normal; padding:6px 0px 6px 16px; }
#M_wrap .btn_leftmn_cl a { background:url(../images/main/btn_snb_close.png) no-repeat left center; font-weight:normal; padding:6px 0px 6px 16px; }

#IB_Snb .mypageMnBox { border-top:#31485a solid 1px; background:#1b3448; }
#IB_Snb .mypageMnList { padding:15px 15px 13px 20px; border-bottom:#31485a solid 1px; }
#IB_Snb .mypageMnList dt { padding:3px 0px 8px 16px; }
#IB_Snb .mypageMnList dt a { color:#e9ecf4; font-size:13px; font-family:'NanumBarun'; letter-spacing:-0.04em; }
#IB_Snb .mypageMnList dd { float:none; *zoom:1; background:url(../images/main/bu_list_mm_dash.png) no-repeat 6px 10px; padding-left:15px; }
#IB_Snb .mypageMnList dd:after { content:""; display:block; clear:both; height:0; }
#IB_Snb .mypageMnList dd a { display:block; width:100%; padding:3px 0; color:#888d98; line-height:16px; vertical-align:middle; }
#IB_Snb .mypageMnList dd .fl_txt { float:left; display:inline-block; font-size:12px; font-family: letter-spacing:-0.5px; line-height:16px; vertical-align:middle; }
#IB_Snb .mypageMnList dd .fr_count { float:right; display:inline-block; border-radius:10px; background:#3a5eb9; padding:0px 4px; min-width:10px; line-height:14px; vertical-align:middle; text-align:center; font-weight:normal; font-size:10px;  font-family:Verdana, Geneva, sans-serif; color:#fff; margin-top:1px; }

.mypageMnList .icon_work { background:url(../images/main/bg_icon_work.png) no-repeat 0 5px; }
.mypageMnList .icon_memo { background:url(../images/main/bg_icon_memo.png) no-repeat 0 5px; }
.mypageMnList .icon_approve { background:url(../images/main/bg_icon_approve.png) no-repeat 0 5px; }
.mypageMnList .icon_info { background:url(../images/main/bg_icon_info.png) no-repeat 0 5px; }
.main_sortcodeBox { background:#1b3448; width:162px; height:40px; position:absolute; left:0px; top:115px; padding:12px 20px 1px 18px; z-index:1; }
.main_sortcodeBox input { background:url(../images/main/bg_input_msearch.jpg) no-repeat 0 0; border:none; width:122px; height:22px; padding:0 10px 0 30px; color:#fff; }
.main_sortcodeBox input:focus { outline:none; }

.main_quickmnBox { padding:20px; }
.main_quickmnBox ul { background:#0d2132; border-top:#071928 solid 1px; border-left:#071928 solid 1px; border-right:#071928 solid 1px; }
.main_quickmnBox a { display:block; background:url(../images/main/bg_quick_mm.gif) no-repeat 142px center #0d2132; padding:7px 10px 7px 16px; vertical-align:middle; color:#888d98; letter-spacing:-0.04em; }
.main_quickmnBox li { border-bottom:#071928 solid 1px; }

/*메인오른쪽 컨텐츠*/
#M_wrap #detail_contents { min-height:680px; padding:15px 15px 45px; box-sizing:border-box; width:auto; overflow:hidden; }

.main_moduleWrap { float:none; *zoom:1; width:100%; }
.main_moduleWrap:after {  content:""; display:block; clear:both; height:0; }
.main_moduleWrap .m_moduleBox { float:left; width:50%; box-sizing:border-box; padding:15px; position:relative; height:330px; }
.main_moduleWrap .m_moduleBox .module_title { box-sizing:border-box; padding:12px 20px; vertical-align:middle; line-height:20px; color:#fff; }
.main_moduleWrap .m_moduleBox .module_title strong { font-weight:normal; margin-right:10px; font-size:15px; font-family:'NanumBarun'; letter-spacing:-0.02em; }
.main_moduleWrap .m_moduleBox .module_title span { opacity:0.6; font-size:12px; letter-spacing:0.1em; font-family:'NanumBarun'; vertical-align:middle; }
.main_moduleWrap .m_moduleBox .module_conBox { box-sizing:border-box; height:250px; overflow-x:hidden; overflow-y:auto; background:#fff; border-left:#cfcfcf solid 1px;  border-right:#cfcfcf solid 1px; border-bottom:#cfcfcf solid 1px; }

.m_nocontxt { padding:100px 0; text-align:center; color:#999; } /*컨텐츠 없을때*/
.mtab_st01 + .m_nocontxt { padding:90px 0; }

.main_moduleWrap .m_moduleBox .btn_more { background:url(../images/main/btn_more.png) no-repeat center center; width:47px; height:47px; display:inline-block; position:absolute; right:15px; top:14px; }
.main_moduleWrap .m_moduleBox .btn_more em { display:none; }


/*메인tab*/
.mtab_st01 { float:none; *zoom:1; width:100%; background:url(../images/main/bg_m_tab.png) repeat-x 0 bottom; height:35px; margin-top:5px; padding:0 20px; }
.mtab_st01:after { content:""; display:block; clear:both; height:0; }
.mtab_st01 li { float:left; height:35px; padding-left:20px; }
.mtab_st01 li:first-child { padding-left:0px; }
.mtab_st01 li a { float:left; font-size:12px; vertical-align:middle; padding:7px 5px 7px; display:inline-block; color:#202020; }
.mtab_st01 li.current { }
.mtab_st01 li.current a { font-weight:bold; font-size:14px; color:#202020; vertical-align:middle; padding:8px 5px 8px; display:inline-block; border-bottom:#2e518b solid 3px; }



/*달력*/
.main_moduleWrap .calendar_module  { position:relative;  }
.main_moduleWrap .calendar_module img  { width:100%; height:297px; }
.main_moduleWrap .calendar_module .month_arrow { position:absolute; z-index:1; background:url(../images/main/month_arrow.png) no-repeat 0 0; width:21px; height:42px; right:-15px; top:50%; margin-top:-21px; display:inline-block; }
.main_moduleWrap .calendar_module .month_arrow2 { position:absolute; z-index:1; background:url(../images/main/month_arrow2.png) no-repeat 0 0; width:21px; height:300px; right:-5px; top:15px; display:inline-block; }

.calendar_module .module_title { background:#5989d2; border:#5989d2 solid 1px; text-align:center; vertical-align:middle; } /*달력타이틀*/
.calendar_module .module_title strong { margin-right:0!important; }
.calendar_module .module_title span, .calendar_module .module_title strong, .calendar_module .module_title em, .calendar_module .module_title button { vertical-align:middle; }
.calendar_module .module_title .btn_next { background:url(../images/main/btn_calendar_next.gif) no-repeat center 0; width:18px; height:18px; margin-left:17px; }
.calendar_module .module_title .btn_prev { background:url(../images/main/btn_calendar_prev.gif) no-repeat center 0; width:18px; height:18px; margin-right:17px; }
.calendar_module .module_title em { display:none; }

.mcalendar_tb_st { width:100%; height:250px; background:#4779c4; table-layout:fixed; }
.mcalendar_tb_st caption { font-size:0; visibility:hidden; height:0px; }
.mcalendar_tb_st thead th { font-size:11px; background:#3a68b9; color:#eced8a; font-family:Tahoma, Geneva, sans-serif; font-weight:normal; padding:5px 0 5px; }
.mcalendar_tb_st tbody td { text-align:center; vertical-align:middle; font-size:12px; font-family:Tahoma, Geneva, sans-serif; color:#a5c4f4; }
.mcalendar_tb_st tbody td.current { background:url(../images/main/bg_current_calendar.png) no-repeat center center; color:#fff; font-weight:bold; background-size:contain; }
.mcalendar_tb_st tbody tr:first-child td { padding-top:10px; }
.mcalendar_tb_st tbody tr:last-child td { padding-bottom:10px; }
.mcalendar_tb_st thead th:first-child { padding-left:10px; }
.mcalendar_tb_st thead th:last-child { padding-right:10px; }
.mcalendar_tb_st tbody td:first-child { padding-left:10px; }
.mcalendar_tb_st tbody td:last-child { padding-right:10px; }

/*업무일지*/
.main_moduleWrap .schedule_module { padding-left:0px!important; }

.schedule_module .module_title { background:#cfe0f4; border:#becee2 solid 1px; border-left:none; } /*업무일지*/
.schedule_module .module_title strong { color:#4f73ab; }
.schedule_module .module_title span { color:#4f73ab; }
.schedule_module .module_conBox { padding-left:5px; border-left:none!important; }
.schedule_module .btn_addworkZone { text-align:center; margin-top:20px; margin-bottom:20px; position:inherit; margin-left:0; }

.memo_module .module_title {background:#97d04c; border:#8ac13d solid 1px;} /*메모*/
.memo_module .addbtnzone { text-align:center; margin-top:20px; margin-bottom:20px; }
.memo_module .btn_addmemo { position:inherit; margin:0; }

.business_module .module_title {background:#6c92ee; border:#547cdc solid 1px;} /*정보공유*/
.business_module .addbtnzone { text-align:center; margin-top:10px; margin-bottom:20px; }
.business_module .btn_addbusiness { position:inherit; margin:0; }

.comment_module .module_title {background:#557bda; border:#4a72ca solid 1px;} /*정보코멘트*/
.network_module .module_title {background:#2e518b; border:#23457d solid 1px;} /*네트워크*/

.approve_module .module_title {background:#5fc1d8; border:#59b3c8 solid 1px;} /*전자결재*/
.approve_module .mtab_st01 li.current a { font-weight:bold; font-size:14px; color:#202020; vertical-align:middle; padding:8px 5px 8px; display:inline-block; border-bottom:#5fc1d8 solid 3px; }

.present01_module .module_title {background:#51a7d2; border:#3c97c5 solid 1px;} /*직원근태현황*/
.present01_module .mtab_st01 li.current a { font-weight:bold; font-size:14px; color:#202020; vertical-align:middle; padding:8px 5px 8px; display:inline-block; border-bottom:#51a7d2 solid 3px; }

.present02_module .module_title {background:#3585c8; border:#2475b9 solid 1px;} /*임원현황*/

.board01_module .module_title {background:#59c7bc; border:#39b0a4 solid 1px;} /*공지게시판*/
.board02_module .module_title {background:#45b1be; border:#2d9eac solid 1px;} /*업무게시판*/
.board03_module .module_title {background:#277ca6; border:#156a94 solid 1px;} /*사내게시판*/

.busi_com_module .module_title {background:#6c92ee; border:#547cdc solid 1px;} /*신규정보+코멘트*/
.busi_com_module .mtab_st01 li.current a { font-weight:bold; font-size:14px; color:#202020; vertical-align:middle; padding:8px 5px 8px; display:inline-block; border-bottom:#6c92ee solid 3px; }

.all_board_module .module_title {background:#557bda; border:#4a72ca solid 1px;} /*게시판전체*/
.all_board_module .mtab_st01 li.current a { font-weight:bold; font-size:14px; color:#202020; vertical-align:middle; padding:8px 5px 8px; display:inline-block; border-bottom:#557bda solid 3px; }



/*임원현황*/
.present_m_name { margin-right:10px; color:#555; font-size:12px; }

.ceopresent_tb { width:100%; padding-bottom:10px; }
.ceopresent_tb th { text-align:left; vertical-align:top; font-weight:normal; color:#555; border-top:#cfcfcf dashed 1px; padding:10px 0px 10px 20px; }
.ceopresent_tb td { text-align:left; vertical-align:top; color:#555; border-top:#cfcfcf dashed 1px; padding:10px 12px 10px 0; }
.ceopresent_tb tr:first-child th, .ceopresent_tb tr:first-child td { border-top:none; }

.ceomember_list li { margin-bottom:3px; }
.ceomember_list strong { color:#202020; font-size:11px; margin-right:3px; }
.ceomember_list span { color:#898989; font-size:11px; }

/*메인리스트게시판형식*/
.board_mbs_list { padding:10px 12px 11px 15px;}
.board_mbs_list li, .board_mbs_list li a, .board_mbs_list li span, .board_mbs_list li em, .board_mbs_list li, .board_mbs_list li a span { vertical-align:middle; }
.board_mbs_list li { float:none; *zoom:1; padding:3px; vertical-align:middle; position:relative; }
.board_mbs_list li:hover { /*outline:#b9c1ce dashed 1px;*/ background:#f8f8f8; }
.board_mbs_list li:after { content:""; display:block; clear:both; height:0; }
.board_mbs_list .fl_block { float:left; width:68%; display:block; }
.board_mbs_list .fl_block a { max-width:77%; color:#6f7073; letter-spacing:-0.05em; box-sizing:border-box; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap; word-wrap: normal !important; display:inline-block; }
.board_mbs_list .fl_block .with100 { max-width:100%; }
.board_mbs_list .fl_block .with80 { max-width:80%; }

.board_mbs_list .fr_block { float:right; width:32%; overflow: hidden; font-size:11px; letter-spacing:-0.05em; box-sizing:border-box; text-align:right; display:inline-block; }
.board_mbs_list .fl_block .bs_title { color:#555; letter-spacing:-0.03em; }
.board_mbs_list .fl_block .bs_team { letter-spacing:-0.04em; }

.board_mbs_list .fr_block span { letter-spacing:-0.05em; vertical-align:middle; }
.board_mbs_list .fr_block .bs_date { letter-spacing:0; color:#939393;  font-size:11px; width:52px; display:inline-block; }
.board_mbs_list .fr_block .bs_name { color:#898989; font-size:11px; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap; word-wrap: normal !important; display:inline-block; width:44px; }


/*메인아이콘셋*/
.mbsicon_set { display:inline-block; font-weight:bold; color:#202020; margin-right:12px; padding-right:23px;  }
.mbsicon_set.ps_vacation { background:url(../images/main/bg_icon_vacation.gif) no-repeat right center; }
.mbsicon_set.ps_b_trip { background:url(../images/main/bg_icon_b_trip.gif) no-repeat right center; }
.mbsicon_set.ps_education { background:url(../images/main/bg_icon_education.gif) no-repeat right center; }
.mbsicon_set.net_people { background:url(../images/main/bg_people.gif) no-repeat right center; }
.mbsicon_set.net_company { background:url(../images/main/bg_company.gif) no-repeat right center; }

.board_mbs_list .info_type_c1 { color:#274f84; margin-right:8px; font-size:11px; letter-spacing:-0.04em; }
.board_mbs_list .info_type_c2 { color:#1b95da; margin-right:4px; letter-spacing:-0.04em; }
.board_mbs_list .info_type_cway { border:#9aaacc solid 1px; background:#eef2f8; font-size:11px; color:#3d5da1; padding:1px 2px; line-height:1; margin-right:10px; min-width:30px; text-align:center; display:inline-block; letter-spacing:-0.02em; }

.board_mbs_list .app_state .icon { border-radius:2px; padding:2px 2px; display:inline-block; color:#fff; font-size:11px; text-align:center; line-height:1; letter-spacing:-0.1em; width:45px; margin-right:12px; }


/* Tablet & Desktop Device */
@media all and (min-width:1440px){
/*사용자 해상도가 768px 이상일 때 이 코드가 실행됨. 테블릿과 데스크톱의 공통 코드를 작성한다.*/
.main_moduleWrap .m_moduleBox { width:50%; }

}

/* Tablet Device */
@media all and (min-width:1440px) and (max-width:1940px){
/*사용자 해상도가 768px 이상이고 1024px 이하일 때 이 코드가 실행됨. 아이패드 또는 비교적 작은 해상도의 랩탑이나 데스크톱에 대응하는 코드를 작성한다.*/
.main_moduleWrap .m_moduleBox { width:33.3%;  }

}

/* Desktop Device */
@media all and (min-width:1940px){
/*사용자 해상도가 1025px 이상일 때 이 코드가 실행됨. 1025px 이상의 랩탑 또는 데스크톱에 대응하는 코드를 작성한다.*/
.main_moduleWrap .m_moduleBox { width:25%; }

}

